name: Run analyze and tests
on:
  push:
    branches:    
      - 'main'
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter analyze
  test:
    runs-on: ubuntu-latest
    container:
      image:  google/dart:latest
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get
    - name: Run tests with coverage
      run: pub run test --coverage="coverage"
    - name: Convert coverage to ICOV
      run: pub run coverage:format_coverage --lcov --in=coverage --out=coverage.lcov --packages=.packages --report-on=lib
    - name: Upload coverage to Codecov  
      uses: codecov/codecov-action@v1.0.2
      with:
        file: coverage.lcov